﻿@{
    ViewData["Title"] = "Home";
}
<!-- HTML Follows -->
<h1 class="text-center">Contact Page</h1>
<h3 class="text-center">Vivamus vel lacus vitae dolor</h3>
<hr />
<!-- Put all of your HTML from here -->

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/custom.css">
    
</head>
<body>
            
    
    <div class="container">
        <form>
            <div class="col-xs-12 col-sm-6 col-md-6 ">
                <div class="form-group">
                    <label class= "titles" for="First Name">First name</label>
                    <input type="text" class="form-control" id="First Name" placeholder=" Enter First Name">
                </div>

                 <div class="form-group">
                    <label class= "titles" for ="Last Name"> Last Name</label>
                    <input type="Last Name" class="form-control" id="Last Name" placeholder="Last Name">
                </div>
                            
                <div class="form-group">
                    <label class= "titles" for="Email">Email Address</label>
                    <input type="Email" class="form-control" id="Email" placeholder=" Enter Email Address">
                </div>	
                                
                <div class="form-group">
                    <label class= "titles" for="telephone">Contact Number</label>
                    <input type="number" class="form-control" id="contact number" placeholder=" Enter Contact Number">
                </div>

                <div class="form-group">
                    <label class= "titles" for="House Address">House Address</label>
                    <input type="Address" class="form-control" id="House Address" placeholder=" Enter House Address">
                </div>

                <div class="form-group">
                    <label class= "titles" for="Ocupation">Ocupation</label>
                    <input type="Ocupation" class="form-control" id="Ocupation" placeholder=" Enter Ocupation">
                </div>
                            
                <div class="form-group">
                    <label class= "titles" for="Subject">Subject</label>
                    <input type="Subject" class="form-control" id="Subject" placeholder=" Enter Subject">
                </div>
            </div>
                                
                        
            <div class= "right">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class= "titles" for ="description"> Message</label>
                        <textarea rows="21" class="form-control " id="description" placeholder="Enter Your Message"></textarea>
                    </div>
                            
                    <div class="send-message">
                        <button type="button" class="btn btn-default submit"> Send Message</button>
                    </div>
                </div>
            </div>
            
            <div class="map">
                <div class="form-group">
                        <iframe class="col-xs-12 col-sm-6 col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28027.136951301793!2d176.1656137537405!3d-37.68600346974033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d6ddbdcdb018c15%3A0xb80a04195671d856!2sToi+Ohomai+Institute+of+Technology+-+Bongard+Campus%2C+Tauranga!5e0!3m2!1sen!2snz!4v1505119596591" ></iframe>	
                </div>
            </div>

        </form>
    </div>
		


