﻿@{
    ViewData["Title"] = "Home";
}
<!-- HTML Follows -->
<h1 class="text-center">Home</h1>
<h3 class="text-center">Single column homepage</h3>
<hr />
<!-- Put all of your HTML from here -->
<section>
        <h2 class="text-center">Welcome!</h2>
        <div class="thumbnail pull-left home-single-image">
            <img src="~/images/imageplace.jpg" width="150" height="150" alt="Image not found!">
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel lacus vitae dolor commodo consequat et non magna. Vivamus ultricies laoreet felis id mollis. Pellentesque ultricies, dui quis sollicitudin lobortis, libero orci vehicula est, at gravida tortor dui ac turpis. Nunc eu felis ultrices, posuere enim eu, imperdiet lacus. Mauris finibus libero vel enim hendrerit pretium. Fusce volutpat augue leo, ut scelerisque magna placerat at. Vestibulum porta sem nec tortor convallis rhoncus. Donec malesuada dolor nec nisi efficitur volutpat. Maecenas ipsum nisi, faucibus sed nibh a, venenatis elementum tellus. Donec quam risus, ultrices quis tempor id, interdum at ligula. In mattis felis eu libero consectetur lacinia. Pellentesque malesuada odio id sem egestas scelerisque. Curabitur sed odio sem.
        </p>
        <p>
            Nulla sed ultrices turpis. Ut ac arcu erat. Maecenas imperdiet sit amet lectus eget mattis. Aenean ac lectus dignissim lacus pellentesque bibendum. Integer nec tempus eros, sit amet finibus nisi. Nulla nec aliquet ex, vitae rhoncus ligula. Phasellus mollis ac nulla ac convallis. Donec vel vestibulum orci.
        </p>
        <div class="thumbnail pull-right home-single-image">
            <img src="~/images/imageplace.jpg" width="150" height="150" alt="Image not found!">
        </div>
        <p>
            Nulla sed ultrices turpis. Ut ac arcu erat. Maecenas imperdiet sit amet lectus eget mattis. Aenean ac lectus dignissim lacus pellentesque bibendum. Integer nec tempus eros, sit amet finibus nisi. Nulla nec aliquet ex, vitae rhoncus ligula. Phasellus mollis ac nulla ac convallis. Donec vel vestibulum orci.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel lacus vitae dolor commodo consequat et non magna. Vivamus ultricies laoreet felis id mollis. Pellentesque ultricies, dui quis sollicitudin lobortis, libero orci vehicula est, at gravida tortor dui ac turpis. Nunc eu felis ultrices, posuere enim eu, imperdiet lacus. Mauris finibus libero vel enim hendrerit pretium. Fusce volutpat augue leo, ut scelerisque magna placerat at. Vestibulum porta sem nec tortor convallis rhoncus. Donec malesuada dolor nec nisi efficitur volutpat. Maecenas ipsum nisi, faucibus sed nibh a, venenatis elementum tellus. Donec quam risus, ultrices quis tempor id, interdum at ligula. In mattis felis eu libero consectetur lacinia. Pellentesque malesuada odio id sem egestas scelerisque. Curabitur sed odio sem.
        </p>
        
        <h2 class="text-left">Welcome! ... Again?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel lacus vitae dolor commodo consequat et non magna. Vivamus ultricies laoreet felis id mollis. Pellentesque ultricies, dui quis sollicitudin lobortis, libero orci vehicula est, at gravida tortor dui ac turpis. Nunc eu felis ultrices, posuere enim eu, imperdiet lacus. Mauris finibus libero vel enim hendrerit pretium. Fusce volutpat augue leo, ut scelerisque magna placerat at. Vestibulum porta sem nec tortor convallis rhoncus. Donec malesuada dolor nec nisi efficitur volutpat. Maecenas ipsum nisi, faucibus sed nibh a, venenatis elementum tellus. Donec quam risus, ultrices quis tempor id, interdum at ligula. In mattis felis eu libero consectetur lacinia. Pellentesque malesuada odio id sem egestas scelerisque. Curabitur sed odio sem.
        </p>
        <p>
            Nulla sed ultrices turpis. Ut ac arcu erat. Maecenas imperdiet sit amet lectus eget mattis. Aenean ac lectus dignissim lacus pellentesque bibendum. Integer nec tempus eros, sit amet finibus nisi. Nulla nec aliquet ex, vitae rhoncus ligula. Phasellus mollis ac nulla ac convallis. Donec vel vestibulum orci.
        </p>
        <div class="thumbnail pull-right home-single-image">
            <img src="~/images/imageplace.jpg" width="150" height="150" alt="Image not found!">
        </div>
        <p>
            Nulla sed ultrices turpis. Ut ac arcu erat. Maecenas imperdiet sit amet lectus eget mattis. Aenean ac lectus dignissim lacus pellentesque bibendum. Integer nec tempus eros, sit amet finibus nisi. Nulla nec aliquet ex, vitae rhoncus ligula. Phasellus mollis ac nulla ac convallis. Donec vel vestibulum orci.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel lacus vitae dolor commodo consequat et non magna. Vivamus ultricies laoreet felis id mollis. Pellentesque ultricies, dui quis sollicitudin lobortis, libero orci vehicula est, at gravida tortor dui ac turpis. Nunc eu felis ultrices, posuere enim eu, imperdiet lacus. Mauris finibus libero vel enim hendrerit pretium. Fusce volutpat augue leo, ut scelerisque magna placerat at. Vestibulum porta sem nec tortor convallis rhoncus. Donec malesuada dolor nec nisi efficitur volutpat. Maecenas ipsum nisi, faucibus sed nibh a, venenatis elementum tellus. Donec quam risus, ultrices quis tempor id, interdum at ligula. In mattis felis eu libero consectetur lacinia. Pellentesque malesuada odio id sem egestas scelerisque. Curabitur sed odio sem.
        </p>
</section>

