﻿@{
    ViewData["Title"] = "Home (Double)";
}
<!-- HTML Follows -->
<h1 class="text-center">Home</h1>
<h3 class="text-center">Double column homepage</h3>
<hr />

<!-- Put all of your HTML from here -->

<section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <div class="row">
                    <div class="col-xs-6">
                        <img class="img-responsive thumbnail" src="~/images/imageplace.jpg" alt="Image not found!" width="100%">
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive thumbnail" src="~/images/imageplace.jpg" alt="Image not found!" width="100%">
                    </div>	
                    <div class="col-xs-6">
                        <img class="img-responsive thumbnail" src="~/images/imageplace.jpg" alt="Image not found!" width="100%">
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive thumbnail" src="~/images/imageplace.jpg" alt="Image not found!" width="100%">
                    </div>	
                </div>
            </div>
            <div class="col-sm-6">
                    <h2 class="text-center">Header</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate at augue id luctus. Suspendisse tellus sapien, congue vel eros vitae, placerat eleifend turpis. Integer quis metus nulla. Aenean et cursus diam. Nullam nec diam et lorem vulputate placerat non ac nisi. Nullam tincidunt nulla risus, vitae facilisis nisi molestie luctus. Nulla sed lorem accumsan nulla mollis semper ac vel nulla. Phasellus interdum enim non mauris tempus faucibus. Nam mattis ligula non erat maximus hendrerit. Ut commodo malesuada dolor et lobortis. Sed eu ultricies lacus. Nulla in justo justo. Etiam tincidunt fermentum mauris.</p>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="text-center">Header</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tortor elit, commodo eget risus ac, interdum aliquam orci. Donec vel gravida est. In sagittis nisl tortor, quis suscipit leo volutpat ac. Donec ornare nulla lectus, in porta elit rutrum malesuada. Donec maximus molestie viverra. Integer consectetur justo velit, vel accumsan tortor consectetur ac. Sed laoreet diam sed consequat feugiat. Curabitur gravida id dui nec dapibus. Duis tempus, quam sed pretium sodales, felis risus consectetur mauris, eget pellentesque ligula ante id dui. Maecenas tristique lacus eu sem consequat commodo. Sed sagittis tincidunt porta. Vivamus varius in ante vel lobortis. Sed sit amet efficitur ex, vitae scelerisque leo. Cras rutrum libero ex, ut commodo ex blandit eu. Quisque pulvinar gravida tempus.</p>
                </div>
        
            <div class="col-sm-6">
                <div class="row">
                <div class="col-sm-12">
                    <a href="http://localhost:5000/Home/Portfolio">
                    <img class="img-responsive" src="~/images/imagelink.jpg" alt="Image not found!" width="100%">
                </div>
                <div class="col-sm-12">
                    <a href="http://localhost:5000/Home/Multimedia">
                    <img class="img-responsive" src="~/images/imagelink.jpg" alt="Image not found!" width="100%">
                </div>	
                <div class="col-sm-12">
                    <a href="http://localhost:5000/Home/Blog">
                    <img class="img-responsive" src="~/images/imagelink.jpg" alt="Image not found!" width="100%">
                </div>
                <div class="col-sm-12">
                    <a href="http://localhost:5000/Home/Contact">
                    <img class="img-responsive" src="~/images/imagelink.jpg" alt="Image not found!" width="100%">
                </div>
            </div>
        </div>
</section>
