﻿@{
    ViewData["Title"] = "Multimedia";
}
<!-- HTML Follows -->
<h1 class="text-center">Multimedia</h1>
<h3 class="text-center">Sub heading if desired</h3>
<hr />
<!-- Put all of your HTML from here -->
<div class="gallery">

<div class="hs-responsive-embed-youtube">
  <iframe width="100%" height="500px" src="https://www.youtube.com/embed/lqmv2mHNm3w" frameborder="0" allowfullscreen></iframe>
</div>


  <div class="thumbnail-1 wow fadeInLeft">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <div class="caption">
      <h3 class="wow fadeInUp">Image description</h3>
    </div>  
  </div>
  <div class="large-1 wow bounceInLeft">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <span class="close">✕</span>
  </div>
  <div class="thumbnail-2 wow fadeInDown">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <div class="caption">
      <h3 class="wow fadeInUp">Image description</h3>  
    </div> 
  </div>
  <div class="large-2 wow bounceInDown">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <span class="close">✕</span>
  </div>
  <div class="thumbnail-3 wow fadeInRight">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <div class="caption">
      <h3 class="wow fadeInUp">Image description</h3>  
    </div> 
  </div>
  <div class="large-3 wow bounceInRight">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <span class="close">✕</span>
  </div>
  <div class="thumbnail-4 wow fadeInLeft">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <div class="caption">
      <h3 class="wow fadeInUp">Image description</h3>  
    </div> 
  </div>
  <div class="large-4 wow bounceInLeft">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <span class="close">✕</span>
  </div>  
  <div class="thumbnail-5 wow flipInX">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <div class="caption">
      <h3 class="wow fadeInUp">Image description</h3>  
    </div> 
  </div>
  <div class="large-5 wow bounceIn">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <span class="close">✕</span>
  </div> 
  <div class="thumbnail-6 wow fadeInRight">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <div class="caption">
      <h3 class="wow fadeInUp">Image description</h3>  
    </div> 
  </div>
  <div class="large-6 wow bounceInRight">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <span class="close">✕</span>
  </div> 
  <div class="thumbnail-7 wow fadeInLeft">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <div class="caption">
      <h3 class="wow fadeInUp">Image description</h3>  
    </div> 
  </div>
  <div class="large-7 wow bounceInLeft">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <span class="close">✕</span>
  </div> 
  <div class="thumbnail-8 wow fadeInUp">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <div class="caption">
      <h3 class="wow fadeInUp">Image description</h3>  
    </div> 
  </div>
  <div class="large-8 wow bounceInUp">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <span class="close">✕</span>
  </div> 
  <div class="thumbnail-9 wow fadeInRight">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <div class="caption">
      <h3 class="wow fadeInUp">Image description</h3>  
    </div> 
  </div>
  <div class="large-9 wow bounceInRight">
<img src="~/images/imageplace.jpg" alt="Image not found!"/>
    <span class="close">✕</span>
  </div>   
</div>

</div>
</div>
</div>