﻿@{
    ViewData["Title"] = "Portfolio";
}
<!-- HTML Follows -->
<h1 class="text-center">Portfolio</h1>
<h3 class="text-center">This is the Portfolio page</h3>
<hr />
<!-- Put all of your HTML from here -->
<section>

<!-- Portfolio gallery images using bootstrap layout, images are resposonsive. -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="~/images/imageplace.jpg" target="_blank">
                 <img src="~/images/imageplace.jpg" alt="Image not found!" style="width:100%">
                </a>
            </div>
        </div>
    </div>
</div>

    
    
