﻿@{
    ViewData["Title"] = "Profiles";
}
<!-- HTML Follows -->
<h1 class="text-center">Profile(Header)</h1>
<h3 class="text-center">Page for your profile(Alternate header)</h3>
<hr />
<!-- Put all of your HTML from here -->
<div id-"profiles">
    <div class="text">
        <h1 class-"text-left">Profile name</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-left home-single-image">
            <!-- Between the quotations is where you reference the desired profile image -->
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <!-- Place information regarding the profile between here -->
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
                <!-- And here -->
        </div>
    </div>
    <div class="text">
        <h1 class-"text-right">Profile name2</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-right home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-left">Profile name3</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-left home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-right">Profile name4</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-right home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-left">Profile name5</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-left home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-right">Profile name6</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-right home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-right">Profile name7</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-right home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-left">Profile name8</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-left home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-right">Profile name9</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-right home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-left">Profile name10</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-left home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-right">Profile name11</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-right home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-left">Profile name12</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-left home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-right">Profile name13</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-right home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-left">Profile name14</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-left home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
    <div class="text">
        <h1 class-"text-right">Profile name15</h1>
    </div>
    <div class="thumbnail">
        <div class="thumbnail pull-right home-single-image">
            <img src="~/images/imageplace.jpg" width="250" height="250" alt="Image not found!">
        </div>
        <div class="caption">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet turpis sit amet augue consectetur imperdiet. Nulla facilisi. Ut posuere nisl gravida porta iaculis. Suspendisse et turpis egestas, pharetra neque id, posuere tellus. Donec id eros ultrices, porta ligula in, vehicula diam. Nunc vitae nibh euismod, condimentum ligula a, fermentum risus. Nunc iaculis ante a nibh commodo, a rhoncus ligula placerat. Sed rutrum sapien magna, eu efficitur nunc dictum ut. Nam eu finibus nulla. Phasellus quis iaculis dui. In rutrum interdum accumsan. Sed finibus metus quis ornare consequat. In fringilla non odio a fermentum. Curabitur fermentum ligula non nisi bibendum efficitur. Nulla varius, risus at egestas condimentum, erat leo egestas nulla, quis ullamcorper tortor libero eu ipsum. Quisque varius lectus sed purus finibus finibus.
            </p>
            <p>
                Phasellus rhoncus hendrerit massa maximus ultrices. Aliquam euismod non lectus non porta. Sed accumsan erat ut massa dapibus, nec facilisis enim finibus. Vestibulum eu ligula tellus. In ac erat id justo commodo malesuada. In hac habitasse platea dictumst. Praesent auctor libero sem, vitae bibendum diam rhoncus ut. Fusce non cursus metus. Quisque vehicula at nulla non suscipit. Curabitur tempor mi leo, et efficitur quam cursus eget. Etiam mauris ligula, molestie vitae placerat vel, vehicula vitae neque. Curabitur viverra libero vel dui dignissim ornare. Sed non mauris velit.
            </p>
             <p>
                Cras ornare ipsum at dolor commodo viverra non sed lacus. Morbi posuere euismod consectetur. Duis vestibulum erat consectetur nulla interdum, vel mattis orci dapibus. Aenean libero odio, aliquam ut nibh nec, sagittis facilisis tortor. Aliquam aliquet, nisl nec pulvinar tempus, arcu massa molestie dolor, vestibulum pretium urna est a nibh. Quisque varius mattis libero. Fusce fermentum dictum tellus eu convallis. Aenean lectus ante, blandit ut nisl ut, auctor porta velit. Etiam mattis leo a ex interdum maximus. Suspendisse sodales porttitor nisl, a vulputate lacus viverra vel. Mauris laoreet sollicitudin accumsan.
            </p>
        </div>
    </div>
</div>