.home-single-image{
    margin: 5px;
}
.blog-date{
    border-top: solid 1px #ddd;
    padding-top: 10px;
    padding-left: 13px;
    margin-left: -13px;
    margin-right: -13px;
}
@media screen and (min-width:768px) and (max-width:992px) {
    textarea.form-control {
                height:270px;
    }
}

@media screen and (max-width:768px) {
    textarea.form-control {
                height:300px;
    }
}

div.send-message{
    padding-bottom: 5px;
    text-align: center;
}

.form-control{
    margin: auto;
}

.form-group{
    text-align:center;
}

/*Multimedia page*/

.gallery{
  margin: 0;
  padding: 0;
  height: 100%;
}

[class*='thumbnail-']{
  width: 33.33%;
  height: auto;
  float: left;
  padding: 5px 5px 3px 5px;
  cursor: zoom-in;
}

[class*='thumbnail-'] img{
  max-width: 100%;
}

[class*='large-']{
  width: 90%;
  margin: 0 auto;
  display: none;
}

[class*='large-'] img{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

[class*='thumbnail-']{
  overflow: hidden;
  padding: 0;
  position: relative;
  cursor: zoom-in;
}

[class*='thumbnail-']:hover img{
  transition: .3s linear;
  transition-delay: 300ms;
  transform: /* rotate(5deg) */ scale(1.4);
}

[class*='thumbnail-'] > .caption{
  display: none;
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
  background-color: black;
  color: white;
  opacity: 0.8;
}

[class*='thumbnail-']:hover > .caption{
  display: block;
 
}

.hs-responsive-embed { 
position: relative; 
height: 0; 
overflow: hidden; 
padding-top: 0; 
padding-left: 0; 
padding-right: 0; 
}

.hs-responsive-embed iframe, 
.hs-responsive-embed object, 
.hs-responsive-embed embed { 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
border: 0; 
}

.hs-responsive-embed, 
.hs-responsive-embed.hs-responsive-embed-youtube, 
.hs-responsive-embed.hs-responsive-embed-wistia, 
.hs-responsive-embed.hs-responsive-embed-vimeo { 
padding-bottom: 56.25%; 
}

@media screen and (max-width:480px){
  .caption h3{
    font-size: 12px;
  }
}


